<ion-view view-title="All">
  <ion-content class="padding">

    <!-- input -->
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="What needs to be done?" ng-model="newTask.title">
      </label>
      <button class="button button-small" ng-click="addTask()">
        Submit
      </button>
    </div>

    <!-- list -->
    <ion-list>
      <ion-item ng-repeat="todo in todos">
        <!-- checkbox -->
        <label class="item-checkbox ng-not-empty ng-valid">
          <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
            <input type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
            <i class="checkbox-icon"></i>
          </div>
          {{ todo.title }}
        </label>
        
        <!-- delete button -->
        <ion-option-button class="button-assertive" ng-click="removeTask(todo)">
          <i class="ion ion-trash-b"></i>&nbsp;Remove
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>